.header {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logoIndia {
  display: flex;
  margin: 0 20px;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  /* margin-top: 18px; */
}

.header__logoDotIn {
  color: white;
  margin-top: 2px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__search:focus {
  border: 3px solid #ff9900;
}

.header__searchInput {
  height: 20px;
  padding: 10px;
  border: 0;
  width: 100%;
  outline: none;
}

.header__searchIcon {
  min-width: 30px;
  padding: 5px;
  border: 0;
  height: 30px !important;
  background-color: #feb069;
  border-radius: 0 4px 4px 0;
}
.header__searchIcon:hover {
  background-color: #f3a847;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__locationIcon {
  color: white;
  margin-top: 8px;
}
.header__optionAddress {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 10px;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

.header__basketCount {
  margin-left: -18px;
  margin-top: -40px;
  font-weight: bold;
  font-size: 17px;
  color: #f08804;
}

.header__optionLineCart {
  font-size: 13px;
  font-weight: 800;
  margin-right: 10px;
  padding: 5px;
}
